:root{
    --golden_color : #FED136;
    --black_color : #222222;
    --artikle_text : #777777;
    --white_color : #ffffff;
    --logo_font : Bilbo Swash Caps;
    --base_font : Montserrat ;
    --artickle_font: Roboto Slab;

}

header{
    display: flex;
    margin: 0 auto;
    width: 933px;
    padding: 55px;
    height: 39px;
    
}
.logo{
    display: flex;
    font-family: var(--logo_font);
    color: var(--golden_color);
    font-weight: normal;
    margin-right: 300px;
    align-self: center;
    
}
nav{
    align-self: center;
    
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
    font-family: var(--base_font);
    
}
nav a{
    text-decoration: none;
    color: var(--golden_color);
}
.hero{
    align-items: center;
    text-align: center;
    gap: 25px;
    margin-bottom: 130px;
}
.title{
    display: flex;
    margin: 82px;
    font-family: var(--base_font);
    align-self: center;
    align-items: center;
    justify-content: center;
}
.services{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 75px;
}
.services_art{
    width: 274px;
    height: 185px;
}
.article_text{
    color: var(--artikle_text);
    font-size: 14px;
    font-family: var(--artickle_font);
}

footer{
    height: 679px;
    padding: 95px;
    background-color: var(--black_color);
    margin: 0 auto;
}

.form_title{
    display: flex;
    color: var(--white_color);
    font-family: var(--base_font);
    align-self: center;
    align-items: center;
    justify-content: center;
}